@import "tailwindcss";

@theme {
  --font-sans: "Zen Maru Gothic", "Product Sans", "Google Sans", system-ui, sans-serif;
  --font-mono: "Zen Maru Gothic", "Product Sans", "Google Sans", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}